![logo uvbf](https://drive.google.com/uc?export=download&id=1eP-0JTAV3p7a_mhAPHyVdFiB9pPckKr6)

# Projet: Determiner si un sms est un spam ou pas

## Membres du groupe:
- KABORE Abdoul Fataoh
- OUEDRAOGO Ibrahim Alassane
- ROUAMBA Fadilatou
- ROBGO Karima

<hr style="height:1px;" />

# Importation & Description des donnees

In [24]:
import pandas as pd

- **Importation**

In [25]:
df = pd.read_csv("sms_spams_collection.txt", sep="\t", header = None)
df.columns = ["label", "content"]

In [26]:
df.head()

  label                                            content
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

- **Description**

In [27]:
df.groupby('label').count()

       content
label
ham       4825
spam       747

# Netoyage des donnees

**Le netoyage consiste a supprimer des informations de notre dataset qui sont pas utile a notre modele**

- **Supprimer les points de ponctuations**

In [28]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [29]:
def remove_punctuations(text):
    text = "".join([c for c in text if c not in string.punctuation])
    return text

In [30]:
df["content_clean"] = df["content"].apply(lambda x: remove_punctuations(x))

In [31]:
df

,label,content,content_clean
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,This is the 2nd time we have tried 2 contact u...
5568,ham,Will ü b going to esplanade fr home?,Will ü b going to esplanade fr home
5569,ham,"Pity, * was in mood for that. So...any other s...",Pity was in mood for that Soany other suggest...
5570,ham,The guy did some bitching but I acted like i'd...,The guy did some bitching but I acted like id ...
5571,ham,Rofl. Its true to its name,Rofl Its true to its name

- **Supprimer les stopwords** <br>
Les stopwords sont des mots qui n'ont pas de valeurs ajouter a notre modele

In [32]:
import re

In [33]:
def tokeniser(text):
    regex = re.compile("\w+")
    words = re.findall(regex, text)
    return words

In [34]:
df["content_tokeniser"] = df["content_clean"].apply(lambda x: tokeniser(x))
df.head()

,label,content,content_clean,content_tokeniser
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point, crazy, Available, o..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar, Joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor, U, c, already, t..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, dont, think, he, goes, to, usf, he, l..."

In [35]:
import nltk

In [36]:
def remove_stopwords(content_list):
    result = [word for word in content_list if word not in nltk.corpus.stopwords.words("english")]
    return result

In [37]:
 df["no_stopwords"]= df["content_tokeniser"].apply(lambda x: remove_stopwords(x))
# df.head()

In [38]:
df

,label,content,content_clean,content_tokeniser,no_stopwords
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point, crazy, Available, o...","[Go, jurong, point, crazy, Available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar, Joking, wif, u, oni]","[Ok, lar, Joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F...","[Free, entry, 2, wkly, comp, win, FA, Cup, fin..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor, U, c, already, t...","[U, dun, say, early, hor, U, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, dont, think, he, goes, to, usf, he, l...","[Nah, I, dont, think, goes, usf, lives, around..."
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,This is the 2nd time we have tried 2 contact u...,"[This, is, the, 2nd, time, we, have, tried, 2,...","[This, 2nd, time, tried, 2, contact, u, U, 750..."
5568,ham,Will ü b going to esplanade fr home?,Will ü b going to esplanade fr home,"[Will, ü, b, going, to, esplanade, fr, home]","[Will, ü, b, going, esplanade, fr, home]"
5569,ham,"Pity, * was in mood for that. So...any other s...",Pity was in mood for that Soany other suggest...,"[Pity, was, in, mood, for, that, Soany, other,...","[Pity, mood, Soany, suggestions]"
5570,ham,The guy did some bitching but I acted like i'd...,The guy did some bitching but I acted like id ...,"[The, guy, did, some, bitching, but, I, acted,...","[The, guy, bitching, I, acted, like, id, inter..."
5571,ham,Rofl. Its true to its name,Rofl Its true to its name,"[Rofl, Its, true, to, its, name]","[Rofl, Its, true, name]"

3. Le steamming <br>
Le steamming est une operation qui consiste a contracter du texte dans le but de reduire son poids et de le traiter de facon plus rapide

In [39]:
ps = nltk.PorterStemmer()
wn = nltk.WordNetLemmatizer()

In [167]:
ps.stem("racines")

'racin'

In [168]:
wn.lemmatize("racines")

'racine'

In [41]:
def stemming(content_list: list) -> list:
    result = [ps.stem(sword) for sword in content_list]
    return result

In [42]:
def lemmatizing(content_list: list) -> list:
    result = [wn.lemmatize(lword) for lword in content_list]
    return result

## **(1) Notre fonction final de netoyage et contraction**

In [60]:
def clean_sms(text: str):
    result = remove_punctuations(text)
    tokens = tokeniser(result)
    text = stemming(tokens)
    return text

# Vectorisation

Apres l'etape de preparation des donnees, et avant d'appliquer les algorithme de machine learning pour entrainer notre modele, nous devrons proceder a la vectorisation des donnees.
Il s'agit de denombre le nombre d'ocurance d'un mot donnee pour chaque document

- **CountVectorizer**

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

In [80]:
cell = ["Nous avons un presentation de nlp. nlp est le traitement auto de langage"]

In [105]:
full_vectorisation = CountVectorizer(analyzer=clean_sms)
vect_final = full_vectorisation.fit_transform(cell)

In [118]:
f = full_vectorisation.get_feature_names()
d = pd.DataFrame(vect_final.toarray())
d.columns = f
d

   auto  avon  de  est  langag  le  nlp  nou  present  traitement  un
0     1     1   2    1       1   1    2    1        1           1   1

- **TF-IDS**

### TF-IDS: Term Frequency-Inverse Frequency Document Frequency
Il s'agit de donner un poids a un **mot** dans un document
<p>Le poids d'un mot determine le degree d'utilisation de ce mots dans un document donne par rapport aux autres documents</p>

## W<sub>i,j</sub> = tf<sub>i,j</sub> * log(N/df<sub>i</sub>)

- ### W<sub>i,j</sub> = Le poids du mot i dans le document j
- ### tf<sub>i,j</sub>  = Frquence du mot i dans le document j
- ### N = Nombre de documents total
- ### df = Nombre de document contenant i

In [119]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [120]:
cell = ["Nous avons un presentation de nlp. nlp est le traitement auto de langage"]

In [121]:
vectorizer_obj = TfidfVectorizer()
vectorizer_data = vectorizer_obj.fit_transform(cell)

In [123]:
f = full_vectorisation.get_feature_names()
d = pd.DataFrame(vectorizer_data.toarray())
d.columns = f
d

,auto,avon,de,est,langag,le,nlp,nou,present,traitement,un
0,0.242536,0.242536,0.485071,0.242536,0.242536,0.242536,0.485071,0.242536,0.242536,0.242536,0.242536

## **(2) Choix de la technique de vectorisation**

In [126]:
data = pd.read_csv("sms_spams_collection.txt", sep="\t", header = None)
data.columns = ["label", "content"]
data.head()

  label                                            content
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [138]:
vectorisation_full = TfidfVectorizer(analyzer=clean_sms)
vect_final = vectorisation_full.fit_transform(data['content'])

# Feature engenering

<p>Le feature engenering est une etape crutiale dans le machine learning. il permet d'augmenter la puissance explicative d'un jeux de donnees de donnees</p>

Methode:
 - soit on ajoute des nouvelles variables
 - soit on transforme les variables existantes

## **(3) Injecter le pourcentage de ponctuation et la longueur du text**

In [145]:
def count_punctuation(text: str):
    nb_punc =  sum([1 for c in text if c in string.punctuation])
    return round(nb_punc/(len(text)), 4)*100

In [143]:
def message_lenght(text: str):
    return len(text) - text.count(" ")

In [146]:
data['content_len'] = data['content'].apply(lambda x: message_lenght(x))
data['punctuation_rate'] = data['content'].apply(lambda x: count_punctuation(x))

In [147]:
data

,label,content,content_len,punctuation_rate
0,ham,"Go until jurong point, crazy.. Available only ...",92,8.11
1,ham,Ok lar... Joking wif u oni...,24,20.69
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,128,3.87
3,ham,U dun say so early hor... U c already then say...,39,12.24
4,ham,"Nah I don't think he goes to usf, he lives aro...",49,3.28
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,131,5.00
5568,ham,Will ü b going to esplanade fr home?,29,2.78
5569,ham,"Pity, * was in mood for that. So...any other s...",48,12.28
5570,ham,The guy did some bitching but I acted like i'd...,100,0.80
5571,ham,Rofl. Its true to its name,21,3.85

In [148]:
final_data = pd.concat([pd.DataFrame(vect_final.toarray()), data['content_len'], data['punctuation_rate']], axis=1)
final_data

,0,1,2,3,4,5,6,7,8,9,...,8202,8203,8204,8205,8206,8207,8208,8209,content_len,punctuation_rate
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,92,8.11
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,24,20.69
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,128,3.87
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,39,12.24
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,49,3.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,131,5.00
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.32036,0.0,0.0,29,2.78
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,48,12.28
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,100,0.80
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,21,3.85

## 4. Model & entrainement

In [159]:
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.model_selection import train_test_split

In [160]:
X_train, X_test, Y_train, Y_test = train_test_split(final_data, data['label'], test_size=0.2)

In [161]:
from sklearn  import svm

In [162]:
alg_svm= svm.SVC(kernel = 'linear')

In [163]:
alg_svm.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [164]:
predictions = alg_svm.predict(X_test)

In [165]:
precision, recall, fscore, _ = score(Y_test, predictions, pos_label='spam', average='binary')

In [166]:
print('Precision: {} / Recall: {} / Accuracy: {}'.format(round(precision, 3),
                                                        round(recall, 3),
                                                        round((predictions==Y_test).sum() / len(predictions),3)))

Precision: 1.0 / Recall: 0.89 / Accuracy: 0.986